run-name: Test Automatic Dependency Submission (Gradle)
on: push
permissions:
  contents: write
env:
  JAVA_VERSION: 21
  JAVA_DISTRIB: "temurin"
  SKIP_CACHE: ${{ vars.GH_DEPENDENCY_SUBMISSION_SKIP_CACHE }}
jobs:
  submit-gradle:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.inputs.commit-ref }}

      - name: setup-ecosystem
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          overwrite-settings: false
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIB }}

      - name: log-toolchain-versions
        id: log-toolchain-versions
        run: |
          version=$(gradle --version | grep -E '^Gradle' | grep -o '[0-9.]\+')
          echo "::notice::Using Java ${{ env.JAVA_VERSION }} (${{ env.JAVA_DISTRIB }}) with Gradle ${version}"
          if [ ! -f "gradlew" ]; then
            echo GRADLE_VERSION=${version} >> "$GITHUB_OUTPUT"
          fi
        shell: bash

      - name: check-cache-strategy
        run: |
          if [[ -n "${{ env.SKIP_CACHE }}" ]]; then
            echo "actions/cache disabled via 'GH_DEPENDENCY_SUBMISSION_SKIP_CACHE'"
          else
            echo "Caching '~/.gradle'. Set 'GH_DEPENDENCY_SUBMISSION_SKIP_CACHE=true' to skip caching in future."
          fi

      - name: configure-cache
        if: ${{ !env.SKIP_CACHE }}
        uses: actions/cache@0c907a75c2c80ebcb7f088228285e798b750cf8f # v4.2.1
        with:
          path: "~/.gradle"
          key: ${{ runner.os }}-jdk${{ env.JAVA_VERSION }}-${{ env.JAVA_DISTRIB }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-jdk${{ env.JAVA_VERSION }}-${{ env.JAVA_DISTRIB }}-gradle-

      - name: validate-project
        id: validate-project
        run: |
          if ./gradlew help; then
            echo "::debug::Gradle validate repository root is a Gradle project with wrapper."
            echo "valid-project=true" >> "$GITHUB_OUTPUT"
          elif gradle help; then
            echo "::debug::Gradle validate repository root is a Gradle project."
            echo "version: ${{ steps.log-toolchain-versions.outputs.GRADLE_VERSION }}"
            echo "valid-project=true" >> "$GITHUB_OUTPUT"
          else
            echo "valid-project=false" >> "$GITHUB_OUTPUT"
            echo "### :warning: Gradle validation failed in repository root" >> $GITHUB_STEP_SUMMARY
            echo "We were unable to validate a Gradle project in the repository root. If your repository requires additional setup steps, you may need to check in your own workflow." >> $GITHUB_STEP_SUMMARY
            echo "" >> $GITHUB_STEP_SUMMARY
            echo "For more information on submitting Gradle dependencies from your own workflow, refer to [the submission action](https://github.com/advanced-security/gradle-dependency-submission-action)" >> $GITHUB_STEP_SUMMARY
            echo "::warning:: Gradle validation failed in the repository root."
            exit 1
          fi

      - name: dependency-submission
        uses: actions/gradle-build-tools-actions/dependency-submission@8379f6a1328ee0e06e2bb424dadb7b159856a326
        with:
          gradle-version: ${{ steps.log-toolchain-versions.outputs.GRADLE_VERSION }}
        env:
          GITHUB_DEPENDENCY_GRAPH_REF: ${{ github.event.inputs.commit-ref }}
          GITHUB_DEPENDENCY_GRAPH_SHA: ${{ github.event.inputs.commit-sha }}
          GITHUB_DEPENDENCY_GRAPH_DETECTOR_NAME: Automatic Dependency Submission
          GITHUB_DEPENDENCY_GRAPH_DETECTOR_VERSION: ${{ github.event.inputs.detector-version }}
          GITHUB_DEPENDENCY_GRAPH_DETECTOR_URL: https://github.com/actions/gradle-dependency-submission-action
